body
{
    font-family: 'Rubik', sans-serif;
    color: white;
    background-color: #16044A;
    padding: 0;
    margin: 0;
}
.link
{
    color:white;
    font-weight: 800;
    font-size: large;
    text-decoration: none;
}
a
{
    color: white;
    text-decoration: none;
    
    text-align: center;
}
button
{
    background:transparent;
    border:0;
    color: white;
    font-family: Rubik;
    font-weight: 700;
    text-shadow: 0px 0px 4px rgba(255, 255, 255, 0.75);
    font-size: 15px;
}

/*header style*/
.header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;

    height: 40px;
    width: 100%;
    max-width: 100%;

    background-color:#16044A ;
    z-index: 100;
    padding-top: 5px;
    box-shadow: 0px 4px 10px  rgba(255, 255, 255, 0.25);
    padding-bottom: 15px;
    
}
.man_enter
{
    padding-top: 10px;
    padding-right: 10px;
    width: 50px;
    height: 60px;
    max-width: 100%;
}
.head_nav {
    max-width: 100%;
    display: none;
    justify-content: left;
  }
.head_img
  {
     display: none;
  }
.head_nav--collapsed
{
    max-width: 100%;
    display: block;
    width: 40px;
    height: 40px;
}
h3
{
    color:#16044A;
    text-shadow: 0px 0px 10px  rgba(255, 255, 255, 0.75);
}
.header_fixed {
    position: fixed;
    left: 0;
    top: 0;
    box-shadow: 0px 4px 10px  rgba(255, 255, 255, 0.25);
  }

.nav--modal {
    height: 100%; 
    width: 0; 
    
    position: fixed; 
    display: inline-flex; 
    flex-flow: column;
    align-items: left;
    justify-content:center;
    
    z-index: 100;
    top: 0;
    left: 0;

    background-color: #16044A;
    background-image: url(/images/nav_bg.png);
    background-repeat: no-repeat;
    background-size: 70%;
    background-position: center;
    overflow-x: hidden; 
    transition: 0.5s;
}
.nav-footer
{
    display: inline-flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: absolute;
    bottom: 0;
}
.nav-footer_item
{
    display: flex;
    flex-flow: column;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
}
.nav-man_enter
{
    width: 50px;
    height: 60px;
    max-width: 100%;
    position: absolute;
    top: 0;
}
.cont-modal
{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
   

    margin-left:25%;
    max-width: 50%;
    max-height: 50%;
    padding-top:50px;
    padding-bottom: 50px;
    /*box-shadow:0px 0px 10px  rgba(255, 255, 255, 0.25);*/
}
.nav-modal__link
{
    font-size: 25px;
    font-weight: 700;
    padding-top: 10px;
    padding-bottom:10px;
}
.closebtn
{
    position: absolute;
    top: 0;
    right: 25px;
    margin-left: 50px;
    width: 50px;
    height: 50px;
}

/*main content style*/
.main_content
{
    background-position: center;
    display: flex;
        flex-flow: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.section_film
{
    max-width: 100%;
    display: inline-flex;
        flex-flow: column wrap;
    
    padding-top: 50px;
}
.container_img-film
{
    height: 400px;
}
.img_film
{
    display:flex;
    width: auto;
    height: 100%;
    max-width: 100%;
    vertical-align: top;
    box-shadow: 0px -5px 10px  rgba(255, 255, 255, 0.5); ;
}
.container_title_film
{
    display: inline-block;
    max-width: 100%;
    border:1px solid #A59BC2;
    padding-inline-end: 10px;
    background-color: #16044A;
}
.film_title
{
    max-width: 100%;
    font-size: 15px;
    text-align: center;
    font-weight: 700;
    text-shadow: 0px 0px 4px rgba(255, 255, 255, 0.75);
}
.container_descr_film
{
    max-width: 100%;
    box-shadow: 0px 4px 4px rgba(255, 255, 255, 0.25);
}
.desc-header {
    margin: 0;
    font-size: 16px;
    font-weight: bold;
}
.desc-header-time
{
    text-shadow: 0px 0px 4px rgba(255, 255, 255, 0.75);
}
.desc-body {
    margin: 0 0 2px 0;
    font-size: 15px;
}

.desc-table {
    width: 100%;
    margin-left: 10px;
}
.desc-body-desc
{
    font-family: Caveat;
}
.desc-body-time
{
    font-weight: 600;
    padding-top:20px;
}

.scrollup{
    width:50px;
    height:50px;
    opacity:0.3;
    position:fixed;
    bottom:40px;
    right:20px;
    display:none;
    text-indent:-9999px;
    background: url('/images/arrow.png') no-repeat;
    background-size: contain;
    background-position: center;
    }

/*footer styles*/
footer
{
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
}
.footer-items
{
    display: none; 
}
.footer-logo
    {
        display: none;
    }
/*media screen*/
@media screen and (min-width:360px) {
    .main_content
    {
     background-image: none;
    }
    .footer-logo
    {
        display: flex;
        justify-content: center;
        
        width: 100%;
    }
   }
@media screen and (min-width:460px) {
   .footer-logo
    {
       
        display: flex;
        justify-content: center;
        
        width: 100%;
    }

   
  }
  
  @media screen and (min-width: 900px) {
   .section_film
     {
        padding-left: 20px;
        padding-right: 20px;
     }
    .main_content
    {
        display: flex;
        flex-flow:row wrap;
    justify-content: center;
    align-items: center;
   
    }
    .head_nav
    {
        display: block;
    }
    .nav-list
    {
        display: inline-flex;
        align-items:baseline;
        margin-top: 30px;
        padding-inline-start: 0px;
    }
    .head_link
    {
        display: inline-flex;
        margin:10px;
    }
    .head_img
    {
        display: flex;
        padding-top: 10px;
        padding-left: 50px;
    }
    .head_nav--collapsed
    {
        display: none;
    }
    h3
    {
        display: none;
    }
    footer
    {
        padding-bottom: 0;
    }
    .footer-logo
    {
        display: flex;
        width:7%;
        height: 7%;
        color: white;
        font-weight: 700;
    }
    
    .footer-items
{
    display:flex;
        flex-flow: column;
    align-items: center;
    justify-content: center; 
}
  }

  