<nav id="nav-modal" class="nav--modal">
  <a href="http://localhost/cinema.project/bd/enter.php"><img class="nav-man_enter" src="http://192.168.0.109:8080/images/man.png"></a>
    <img class="closebtn" src="http://192.168.0.109:8080/images/exit.png" onclick="closeNav()">
  
    <div class="cont-modal">
        <a class="link nav-modal__link" href="http://192.168.0.109:8080/pages/schedulenone.html">Розклад</a>
        <a class="link nav-modal__link" href="http://192.168.0.109:8080/pages/soonnone.html">Скоро у прокаті</a>
        <a class="link nav-modal__link" href="http://192.168.0.109:8080/pages/certificatesnone.html">Сертифікати</a>
        <a class="link nav-modal__link" href="http://192.168.0.109:8080/pages/aboutnone.html">Про нас</a>
    </div>
    <div class="nav-footer">
      <div class="nav-footer_item"> 
        <a href="http://192.168.0.109:8080/nonereg.html"><h2>КОСМОС</h2></a></div>
       
      <div class="nav-footer_item">  
        Бронювання квитків:
        <strong>(050) 433 1406</strong>
      </div>
    </div>
   
  </nav>